.navbar {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	height: 85px;
	background-color: #ffffff;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;

	nav {
		width: 100%;
		margin-top: 0.75rem;
		overflow-y: hidden;

		ul {
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			li {
				cursor: pointer;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	.nav-item,
	.nav-item-active {
		margin-top: 0.25rem;
		font-size: 14px;
		font-weight: 600;
		color: #8f8f8f;
	}
	.nav-item-active {
		color: #2c2c2c;
	}
}
